---
import Layout from '../../layouts/Layout.astro'
import { designData } from '../../lib/data'
import InfoCards from '../../components/InfoCard.astro'
---
<Layout title='Diseño'>
    <div>
        {
            designData.map(card => <InfoCards card={card} />)
        }
    </div>
</Layout>
