---
import Layout from '../../layouts/Layout.astro'
import { gitData } from '../../lib/data'
import InfoCards from '../../components/InfoCard.astro'
---
<Layout title='Git'>
    <div>
        {
            gitData.map(card => <InfoCards card={card} />)
        }
    </div>
</Layout>
