---
import Layout from '../../layouts/Layout.astro'
import { htmlData } from '../../lib/data'
import InfoCards from '../../components/InfoCard.astro'
import '../../styles/pages.css'

---
<Layout title='HTML'>
    <div class="cards">
        {
            htmlData.map(card => <InfoCards card={card} />)
        }
    </div>
</Layout>
