---
import Layout from '../../layouts/Layout.astro'
import {jsData} from '../../lib/data'
import InfoCards from '../../components/InfoCard.astro'
---
<Layout title='CSS'>
    <div>
        
        {
            jsData.map(card => <InfoCards card = {card}/>)
        }
        </div>
</Layout> 