---
import Layout from '../../layouts/Layout.astro'
import {sqlData} from '../../lib/data'
import InfoCards from '../../components/InfoCard.astro'
---
<Layout title='SQL'>
    <div>
        
        {
            sqlData.map(card => <InfoCards card = {card}/>)
        }
        </div>
</Layout> 