.container{
    display: flex;
    justify-content: center;
    background-color: rgb(73, 73, 73);
    color: #fff;
    margin: 0;
    flex-wrap: wrap;
    padding: 10px;
}

.recursos{
    display: flex;
    gap: 5px;
    width: 100%;
}

.recursos a{
    background-color: rgb(91, 91, 91);
    text-align: center;
    border-radius: 10px ;
    flex: 1;
    text-decoration: none;
    color: white
}
.recursos a:hover{
    background-color: rgb(0, 0, 0);
}