:root {
  --bg: #2F4858;
  --bg-gradiente: background-image: linear-gradient(to bottom, #2f4858, #315076, #4f538e, #7f4d99, #b23e91);
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #38527f;
}

/* 🌐 Contenedor principal */
.nav-container {
  width: 100%;
  box-sizing: border-box;
  background-color: #2f4858;
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
}

.nav-btn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
}

.btn-href {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 10px ;
  border: 3px solid #FF0072;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.btn-href:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
}

.btn-href:hover, .btn-href:focus {
  color: white;
}

.btn-href:hover:before, .btn-href:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-href:active {
  transform: scale(0.9);
}

.home{
  border: 2px solid white;
}