---
import '../styles/index.css';
import Layout from "../layouts/LayoutIndex.astro"
import Icons from '../components/Icons.astro';
---

<Layout title='RecurStack'>
<section class="grid grid-2">
    <div class="autoShow">
        <section class="banner">
            <div class="content">
                <h1 class="left">RecurStack</h1>
                <div class="right">
                    <p>Developer website</p>
                    <p>One platform, all the knowledge and tools you need
                        <br>update interesting videos</p>
                </div>
                <div class="image">
                    <img src="../../logo.svg" alt="">
                </div>
            </div>
        </section>
    </div>
    <div class="autoShow">
        <section class="technologies">
        <h2>Trending Technologies</h2>
        <ul>
            <li>
                <Icons icon="React"/>
                React
            </li>
            <li>
                <Icons icon="Astro"/>
                Astro
            </li>
            <li>
                <Icons icon="Node"/>
                Node.js
            </li>
            <li>
                <Icons icon="Js"/>
                JavaScript
            </li>
        </ul>
    </section>
    </div>

    <div class="autoShow">
    <section class="videos">
		<h2>Video Tutorials</h2>
		<ul class="video-grid">
			<li><iframe src="https://www.youtube.com/embed/JQf8XLWU-lc" title="Video1" frameborder="0" allowfullscreen></iframe></li>
			<li><iframe src="https://www.youtube.com/embed/MmfoLqiu1A0" title="video2" frameborder="0" allowfullscreen></iframe></li>
			<li><iframe src="https://www.youtube.com/embed/Osy0yuxuEOw" title="video3" frameborder="0" allowfullscreen></iframe></li>
		</ul>

    <div class="cta-contenedor">
        <button class="cta">
            <span class="hover-underline-animation">Explore</span>
            <Icons icon="Arrow" />
        </button>
    </div>


    <div class="autoShow">
    <section class="images">
		<h2>Images</h2>
		<ul class="image-grid">
			<li><img src="/images/react.jpg" alt="React Screenshot" /></li>
			<li><img src="/images/js.png" alt="JavaScript Screenshot" /></li>
			<li><img src="/images/py.png" alt="Python Screenshot" /></li>
		</ul>
        <button class="cta">
        <span class="hover-underline-animation"> Explore </span>
            <Icons icon="Arrow" />
        </button>
	</section>
    </div>
</section>
</Layout>