---
import '../styles/index.css';
import Layout from "../layouts/LayoutIndex.astro"
import Icons from '../components/Icons.astro';
import Aboutme from '../components/Aboutme.astro';
---

<Layout title='RecurStack'>
<section class="grid grid-2">
    <div class="autoShow">
        <section class="banner">
            <div class="content">
                <h1 class="left">RecurStack</h1>
                <div class="right">
                    <p>Developer website</p>
                    <p>Your go-to hub for web development — tools, resources, 
                        <br>and speed in one place.</p>
                </div>
                <div class="image">
                    <img src="../../logo.svg" alt="">
                </div>
            </div>
        </section>
    </div>
        <section class="technologies autoShow">
        <h1>Trending Technologies</h1>
        <ul>
            <li>
                <!-- From Uiverse.io by 0xnihilism --> 
                <div class="button-container">
                <button class="brutalist-button html-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="HTML" />
                    </div>
                    <div class="button-text">
                    <span>HTML</span>
                    </div>
                </button>
                </div>
            </li>
            <li>
                <div class="button-container">
                <button class="brutalist-button css-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="CSS" />
                    </div>
                    <div class="button-text">
                    <span>CSS</span>
                    </div>
                </button>
                </div>
            </li>
            <li>
                <div class="button-container">
                <button class="brutalist-button js-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="Js" />
                    </div>
                    <div class="button-text">
                    <span>JavaScript</span>
                    </div>
                </button>
                </div>
            </li>
            <li>
                <div class="button-container">
                <button class="brutalist-button react-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="React" />
                    </div>
                    <div class="button-text">
                    <span>React</span>
                    </div>
                </button>
                </div>
            </li>
            <li>
                <div class="button-container">
                <button class="brutalist-button node-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="Node" />
                    </div>
                    <div class="button-text">
                    <span>Node</span>
                    </div>
                </button>
                </div>
            </li>
            <li>
                <div class="button-container">
                <button class="brutalist-button astro-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="Astro" />
                    </div>
                    <div class="button-text">
                    <span>Astro</span>
                    </div>
                </button>
                </div>
            </li>
            <li>
                <div class="button-container">
                <button class="brutalist-button git-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="Git" />
                    </div>
                    <div class="button-text">
                    <span>GIT</span>
                    </div>
                </button>
                </div>
            </li>
            <li>
                <div class="button-container">
                <button class="brutalist-button npm-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="NPM" />
                    </div>
                    <div class="button-text">
                    <span>NPM</span>
                    </div>
                </button>
                </div>
            </li>
            <li>
                <div class="button-container">
                <button class="brutalist-button sql-btn button-1">
                    <div class="openai-logo">
                        <Icons icon="SQL" />
                    </div>
                    <div class="button-text">
                    <span>SQL</span>
                    </div>
                </button>
                </div>
            </li>
        </ul>
    </section>

    <section class="videos autoShow">
		<h1>Video Tutorials</h1>
		<ul class="video-grid">
			<li><iframe src="https://www.youtube.com/embed/JQf8XLWU-lc" title="Video1" frameborder="0" allowfullscreen></iframe></li>
			<li><iframe src="https://www.youtube.com/embed/MmfoLqiu1A0" title="video2" frameborder="0" allowfullscreen></iframe></li>
			<li><iframe src="https://www.youtube.com/embed/Osy0yuxuEOw" title="video3" frameborder="0" allowfullscreen></iframe></li>
		</ul>
    <div class="cta-contenedor">
        <a class="cta" href="/Recursos/Videos">
            <span class="hover-underline-animation">Explore</span>
            <Icons icon="Arrow" />
        </a>
    </div>
    </section>
    <div class="autoShow">
        <section class="banner">
            <div class="content">
                <h1>About Us</h1>
                <div class="paragraph">
                    <p>We are students of the Computer Systems Engineering program, passionate about development and technology. This platform was created with the goal of providing the developer community with quick and organized access to essential materials, tools, and resources for learning and professional growth.</p>
                    <p>It is important to note that the content shared on this site is not our own. All documents, videos, and links come from public and official sources related to the technologies presented here. Our intention is not to infringe on copyright or take credit for the work of others; therefore, each resource links directly to its official platform, such as websites, repositories, or YouTube channels of the original creators.</p>
                    <p>We are grateful to all the individuals and communities who freely and openly share knowledge, making this project possible.</p>
                </div>
                    <div class="cards-container">
                        <Aboutme
                        Name="Moises Casanova"
                        Avatar="/images/Moi.jpg"
                        Background="/images/Fondo.png"
                        Email='MoisesCasanova1@outlook.com'
                        GitHub='https://github.com/M0I0-0'
                        Instagram='https://www.instagram.com/moi.x_x/'
                        />
                        <Aboutme
                        Name="Gerardo Mecott"
                        Avatar="/images/Mecott.jpg"
                        Background="/images/Fondo.png"
                        Email='Gerardomecott@outlook.con'
                        GitHub='https://github.com/mecottl'
                        Instagram='https://www.instagram.com/mecottl.css/'
                        />
                    </div>
        </section>
    </div>
</section>
</Layout>