---
import '../styles/index.css';
import Layout from '../layouts/Layout.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title='RecurStack'>
	<section class="hero">
		<h1>RecurStack</h1>
		<p>Welcome to RecurStack, your go-to solution for managing recurring tasks and projects.</p>
		<p>Stay tuned for more updates!</p>
	</section>
	<section class="technologies">
		<h2>Trending Technologies</h2>
		<ul>
			<li>React</li>
			<li>Astro</li>
			<li>Node.js</li>
			<li>JavaScript</li>
		</ul>
	</section>
	<section class="videos">
		<h2>Video Tutorials</h2>
		<ul>
			<li><iframe src="https://www.youtube.com/embed/JQf8XLWU-lc" frameborder="0" allowfullscreen></iframe></li>
			<li><iframe src="https://www.youtube.com/embed/MmfoLqiu1A0" frameborder="0" allowfullscreen></iframe></li>
			<li><iframe src="https://www.youtube.com/embed/Osy0yuxuEOw" frameborder="0" allowfullscreen></iframe></li>
		</ul>
	</section>
	<section class="images">
		<h2>Images</h2>
		<img src="/images/react.jpg" alt="Screenshot 1" />
		<img src="/images/js.png" alt="Screenshot 2" />
		<img src="/images/py.png" alt="Screenshot 3" />
	</section>
</Layout>
