---
const { href = "../#" } = Astro.props;
---

<a class="btn-href" target="_blank" data-text="Awesome" href={href}>
    <span class="actual-text">&nbsp;<slot/>&nbsp;</span>
    <span aria-hidden="true" class="hover-text">&nbsp;<slot/>&nbsp;</span>
</a>
