---
import { ViewTransitions } from "astro:transitions";
import HeaderRecurso from "../components/HeaderRecurso.astro";
import "../styles/Header.css";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<header class="container">
			<div class="recursos">
				<HeaderRecurso href="../pages/Recursos/CSS">
					CSS
				</HeaderRecurso>
				<HeaderRecurso href="../pages/Recursos/JS"> JS </HeaderRecurso>
				<HeaderRecurso href="../pages/Recursos/HTML">
					HTML
				</HeaderRecurso>
				<HeaderRecurso href="../pages/Recursos/Astro">
					Astro
				</HeaderRecurso>
				<HeaderRecurso href="../pages/Recursos/React">
					React
				</HeaderRecurso>
				<HeaderRecurso href="../pages/Recursos/SQL">
					SQL
				</HeaderRecurso>
				<HeaderRecurso href="../pages/Recursos/NODE">
					NODE
				</HeaderRecurso>
				<HeaderRecurso href="../pages/Recursos/Mas">
					Más
				</HeaderRecurso>
			</div>
		</header>

		<slot />
	</body>
</html>
