---
import { ClientRouter } from "astro:transitions";
import HeaderRecurso from "../components/HeaderRecurso.astro";
import Home from "../components/Home.astro";
import Search from "../components/SearchBar.astro";
import "../styles/Layout.css";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content={`Recursos útiles para programadores - Categoría: ${title}`}
		/>
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title} | Recursos Dev</title>
		<meta name="generator" content={Astro.generator} /></head
		>
		<ClientRouter />
	</head>

	<body>
		<aside class="nav-container">
			<nav class="nav-btn" aria-label="Navegación principal">
				<Home />
				<div class="divider"></div>
				<HeaderRecurso href="/Recursos/HTML">HTML</HeaderRecurso>
				<HeaderRecurso href="/Recursos/CSS">CSS</HeaderRecurso>
				<HeaderRecurso href="/Recursos/JS">JavaScript</HeaderRecurso>
				<HeaderRecurso href="/Recursos/SQL">SQL</HeaderRecurso>
				<HeaderRecurso href="/Recursos/GIT">GitHub</HeaderRecurso>
				<HeaderRecurso href="/Recursos/Design">Diseño</HeaderRecurso>
				<HeaderRecurso href="/Recursos/Deploy">Deploy</HeaderRecurso>
				<HeaderRecurso href="/Recursos/Documentation">Documentation</HeaderRecurso>
				<HeaderRecurso href="/Recursos/APIS">Apis</HeaderRecurso>
				<HeaderRecurso href="/Recursos/Videos">Videos</HeaderRecurso>
				<HeaderRecurso href="/Recursos/Mas">Mas</HeaderRecurso>
			</nav>

		</aside>

		<main role="main">
			<Search />
			<slot />
		</main>
	</body>
</html>
