---
import { ViewTransitions } from "astro:transitions";
import HeaderRecurso from "../components/HeaderRecVid.astro";
import Home from "../components/Home.astro";
import "../styles/Layout.css";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content={`Recursos útiles para programadores - Categoría: ${title}`}
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/logo.svg"
			<link
			rel="preconnect"
			href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Recursos Dev</title>
		<ViewTransitions />
	</head>
	<body>
		<aside class="nav-container">
			<nav class="nav-btn" aria-label="Navegación principal">
				<Home />
				<div class="divider"></div>
				<HeaderRecurso href="https://www.youtube.com/@midudev">MiduDev</HeaderRecurso>
				<HeaderRecurso href="https://www.youtube.com/@soydalto">Soy Dalto</HeaderRecurso>
				<HeaderRecurso href="https://www.youtube.com/@freecodecampes">FreeCodeCamp</HeaderRecurso>
				<HeaderRecurso href="https://www.youtube.com/@mouredev">MoureDev</HeaderRecurso>
				<HeaderRecurso href="https://www.youtube.com/@SergieCode">Sergie Code</HeaderRecurso>
				<HeaderRecurso href="https://www.youtube.com/@lundeveloper">Lun dev</HeaderRecurso>
				<HeaderRecurso href="https://www.youtube.com/@midulive">Midulive</HeaderRecurso>	
				<HeaderRecurso href="https://www.youtube.com/@FaztCode">Fazt Code</HeaderRecurso>
			</nav>
		</aside>
        <main role="main">
			<slot />
		</main>
	</body>
</html>
